{% extends "base.html" %}


{% block content %}
<div id="grid-container-content">
<section class="rules">
<h1>Rules</h1>
<p>The rules of Rock! Paper! Scissors! are as follows.</p>
<p>Each player can choose any of the 3 objects. The players choices are then compared. The results of the following logic determines the winner:</p>
<ul>
    <li><strong>Rock! defeats Scissors!</strong> by blunting their blades (it's not the right type of stone to sharpen them)</li>
    <li><strong>Scissors! defeats Paper!</strong> by cutting it up! (fair enough!)</li>
    <li><strong>Paper! defeats Rock!</strong> by wrapping it up (it's a win of sorts I guess 🤷‍♂️)</li>
    <li>Both players choosing the same object creates a vortex that... nah, it just results in a draw. Press <strong>Home</strong> and play again 'til you get a winner?</li>
</ul>
</section>
</div>
<section class="choose">
    <p>To begin a 2 player game, you must make your choice first Player 1:</p>
    <div class="game_object">
        <button><a href="/rock" title="rock">🤘</a></button>
        <button><a href="/paper" title="paper">🧻</a></button>
        <button><a href="/scissors" title="scissors">✂️</a></button>
    </div>
    
  </section>

{% endblock %}